body{
	background-image: url(images/Featured-assistant-gestion-agenda.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.vertikal
{
	border-left: 2px solid white;
	height: 658px!important;
}
@media  (max-width: 600px) {
    .vertikal {
        border: none;
    }
}

#logovanje{
	text-decoration: bold;
    color: #0976bc; 
    border: 2px solid white;
    border-radius: 5px;
    font-family: italic;
	height: 270px!important;
	width: 400px;
	font-size: 20px;
	text-align: center;
	
}

.leva #logovanje {
	margin: auto;
	margin-top: 30%;
}

#copy {
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  float: right;
}

.vertikal #pregled{
margin: auto;
display: block;
margin-top: 15%;
font-family: italic;
}

.vertikal #pregled2{
margin: auto;
display: block;
margin-top: 2%;
font-family: italic;
}

