.vertikal
{
	border-left: 2px solid #0976bc;
	height: 613px!important;
}
@media  (max-width: 600px) {
    .vertikal {
        border: none;
    }
}
.pretraga{
	display: block;
	margin: auto;
	height: 400px;
	width: 70%;
	margin-top: 10%;
}
#profesori{
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 130px;
}

select option {
	color: #969696;
}
#prostorije {
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 190px;
}
#predmeti{
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 250px;
}

#smerovi{
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 310px;
}

#akcije
{
	top: 400px; 
	display: block; 
	margin: auto; 
	position: absolute;
}

#vreme
{
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 370px;
}

.dugmici button{
	float: left;
}