.pretraga{
	display: block;
	margin: auto;
	height: 400px;
	width: 70%;
	margin-top: 10%;
}

.vertikal
{
	border-left: 2px solid #0976bc;
	height: 615px!important;
}
@media  (max-width: 600px) {
    .vertikal {
        border: none;
    }
}
.pretraga{
	padding-top: 0%;
}

#profesori{
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 130px;
}

select option {
	color: #969696;
}

#smerovi{
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 200px;
}

#prostorije {
	border-radius: 1px;
	border:none;
	border-bottom: 1px solid #969696;
	width: 350px;
	display: block;
	margin: auto;
	position: absolute;
	top: 270px;
}

#copy {
 	position: fixed;
  	bottom: 0px;
  	margin-right: auto;
  	margin-left: auto;
  	float: right;
  	background-color:#0976bc; 
}
#dole {
	text-align: center;
 	position: fixed;
  	bottom: 0px;
  	margin-right: auto;
  	margin-left: -15px;
  	float: right;
  	background-color:#0976bc;
  	width: 100%;
  	height: 50px;

}
.tabela td {
  	height: 100px;
}